

<div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
    <div class="card-header h-auto border-0">
        <!--begin::Title-->
        <div class="card-title py-5">
            <h3 class="card-label">
                <span class="d-block text-dark font-weight-bolder">Zespół projektowy</span>
                <span class="d-block text-muted mt-2 font-size-sm">Lista osób które zarządzają projektami</span>
            </h3>
        </div>
        <!--end::Title-->

    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body">
        <lottie-player src="/assets/media/lottie/lf20_nTfkVR.json" background="transparent" speed="1" style="height: 280px;" autoplay loop></lottie-player>
        <p class="text-muted text-center">Wygląda na to, że obecnie jesteś jedynym członkiem zespołu. Dodaj znajomych do zespołu bo w grupie zawsze raźniej!</p>
    </div>
    <!--end::Body-->
</div>