
<!-- Modal-->
<button type="button" id="licenseButton" class="btn btn-primary display-none" data-toggle="modal" data-target="#demoLicenceModal">
</button>

<!-- Modal-->
<div class="modal fade" id="demoLicenceModal" tabindex="-1" role="dialog" aria-labelledby="demoLicenceModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center align-center align-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>

                <lottie-player src="/assets/media/lottie/6370-keys.json" background="transparent" speed="1" style="height: 300px;" autoplay></lottie-player>
                <p style="margin-top: 2rem; font-size: 1.1rem;">Wygląda na to, że korzystasz z portalu w wersji demo. Uaktualnij swoją licencję aby uzyskać dostęp do wszystkich funkcji serwisu</p> 
            </div>
          
        </div>
    </div>
</div>
<!-- Modal-->

