  <!--begin::Charts Widget 2-->
<div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
    <div class="card-header h-auto border-0">
        <!--begin::Title-->
        <div class="card-title py-5">
            <h3 class="card-label">
                <span class="d-block text-dark font-weight-bolder">
                   Wykonane konfiguracje
                </span>
                <span class="d-block text-dark-50 mt-2 font-size-sm">Suma wykonanych konfiguracji w miesiącu</span>
            </h3>
        </div>
        <!--end::Title-->

    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body">
        <!--begin::Chart-->
        <div id="kt_charts_widget_2_chart"></div>
        <!--end::Chart-->
    </div>
    <!--end::Body-->
</div>
<!--end::Charts Widget 2-->